if SHIELD_ALTERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Altera"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ALTERA_LEFT || SHIELD_ALTERA_RIGHT

config ZMK_SPLIT
    default y

endif